.idea
build/
out/
target/
gradle/
.gradle/
.../gradle/
**/gradlew
**/gradlew.bat
*.iml
*.log
config/local/secrets.csv
config/test/secrets.csv
config/qa/secrets.csv
**/src/main/resources/settings/*.yaml
# Dockerfile is generated each time we run build.sh
Dockerfile
