<div>
  <form name="exportConfiguration" #configureTransfer="ngForm">
    <label for="selectedExportService"> Choose a service to export from </label>
    <select id="selectedExportService" [(ngModel)]="selectedExportService" name="selectedExportService"
                #exportServiceSelection="ngModel">
      <option *ngFor="let item of exportServices" [ngValue]="item.name">
        {{item.description}}
      </option>
    </select>
    <button (click)="onSelect(exportServiceSelection.value);">Go</button>
  </form>
</div>
<p>Selected service to export from : {{selectedExportService}}</p>
<p style="color:red;">{{ error_text }}</p>
