<div class="grid-y grid-margin-y" style="padding-top: 2em">
    <div class="cell shrink align-self-middle"><h3>Data Transfer Project Demo</h3></div>
    <div class="cell align-self-middle">
        <progress-component></progress-component>
    </div>
    <div class="cell shrink" style="padding-top: 2em">
        <div class="grid-x grid-margin-x">
            <div class="cell small-8 small-offset-2">
                <p class="lead">The Data Transfer Project allows you to securely transfer your data from one participating cloud service to another.</p>
                <p>Before you start, you will need to have an account at both service providers. During the transfer process, you will be prompted to authenticate with each
                    provider,
                    so make sure you have your login information handy.</p>
            </div>
        </div>
    </div>
    <div class="cell align-self-middle" style="padding-top: 2em;">
        <a (click)="next()" class="button">Next: Choose Data</a>
    </div>
</div>



