<div>
  <form name="startCopy" #configureTransfer="ngForm">
    <div class="form-group">
      Copy
      <span class="fancy-u">{{dataTransferResponse.transferDataType}}</span>
      from
      <span class="fancy-u">{{dataTransferResponse.source}}</span>
      to
      <span class="fancy-u">{{dataTransferResponse.destination}}</span>
    </div>

    <button *ngIf="!submitted"
        (click)="onSelect();"
        class="btn btn-primary"
        title="Clicking this will start the copying of data">Copy</button>

    <div *ngIf="submitted" class="alert alert-success">Copy started successfully!</div>
  </form>
</div>

<div *ngIf="error_text" class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> {{ error_text }}
</div>
