---
---
$section-headings-color: #2a8de1;

@import "{{ site.theme }}";
.page-header {
	color: #fff;
	text-align: center;
	background-color: #70a4d5;
	background-image: linear-gradient(120deg, #d4e5f5, #70a4d5);
}
