---
---
$section-headings-color: #2a8de1;

@import "{{ site.theme }}";
.page-header {
	color: #fff;
	text-align: center;
	background-color: #000000ff;
	background-image: linear-gradient(120deg, #7aa6ba, #000000ff);
}
