<form name="importForm" #form>
  <div class="form-group">
    Moving
    <span class="fancy-u">{{createJobResponse.transferDataType}}</span>
    from
    <span class="fancy-u">{{createJobResponse.source}}</span>
    to
    <span class="fancy-u">{{createJobResponse.destination}}</span>
  </div>
  <button type="submit" (click)="authorize()"
          class="btn btn-primary"
          title="Clicking this will start the import authorization flow">
    Authorize
  </button>
</form>

<div *ngIf="error_text" class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> {{ error_text }}
</div>
