# see https://docs.docker.com/compose/env-file/
# copy this file to distributions/demo-server/env.secrets and fill in your own app credentials, see:
# https://github.com/google/data-transfer-project/blob/master/Documentation/Keys.md

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-microsoft#keys--auth
MICROSOFT_KEY=
MICROSOFT_SECRET=

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-google#keys--auth
GOOGLE_KEY=
GOOGLE_SECRET=

IMGUR_KEY=
IMGUR_SECRET=

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-flickr#keys--auth
FLICKR_KEY=
FLICKR_SECRET=

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-instagram#keys--auth
INSTAGRAM_KEY=
INSTAGRAM_SECRET=

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-rememberthemilk#keys--auth
RTM_KEY=
RTM_SECRET=

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-twitter#keys--auth
TWITTER_KEY=
TWITTER_SECRET=

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-spotify#keys--auth
SPOTIFY_KEY=
SPOTIFY_SECRET=

# See https://github.com/google/data-transfer-project/blob/master/extensions/data-transfer/portability-data-transfer-deezer#keys--auth
# Note the Key is the "application ID" in the UI and the secret is the "Secret Key"
DEEZER_KEY=
DEEZER_SECRET=

# Any values here are fine
JWT_KEY=fookey
JWT_SECRET=footoken
