<div>
  <form name="importConfiguration" #configureTransfer="ngForm">
    <label for="selectedImportService"> Choose a service to import from </label>
    <select id="selectedImportService" [(ngModel)]="selectedImportService" name="selectedImportService"
                #importServiceSelection="ngModel">
      <option *ngFor="let item of importServices" [ngValue]="item.name">
        {{item.description}}
      </option>
    </select>
    <button (click)="onSelect(importServiceSelection.value);">Go</button>
  </form>
</div>
<p>Selected service to import from : {{selectedImportService}}</p>
<p style="color:red;">{{ error_text }}</p>
