<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51297152-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-51297152-3');
</script>
<style>

* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
  div {
    display: block;
}

 
  
</style>

<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <section class="page-header">
    <div class="header-text"><a href="/staging-dtp/" class="header-link">Data Transfer Project</a></div>
    <a href="./dtp-overview.pdf" class="download-header-link">Download White Paper</a>
  </section>

  <section class="main-content">

<div class="logo-container">
<img class="logo-image" src="./images/logo-dtp.png" >
  <div class="logo-text">Data Transfer Project</div>
</div>
    
    {{ content }}

  </section>

  {% if site.google_analytics %}
  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');

    function handleOutboundLinkClicks(event) {
      ga('send', 'event', {
        eventCategory: 'Outbound Link',
        eventAction: 'click',
        eventLabel: event.target.href,
        transport: 'beacon',
      });
    }

    document.querySelectorAll('a').forEach(function (anchor) {
      anchor.addEventListener('click', handleOutboundLinkClicks);
    });
  </script> {% endif %}
</body>

</html>
