*~
target/**
.project
.classpath
src/.project
src/.classpath
# Resources are generated at each build and copied into src/main/resources
src/main/resources/*
workspace.xml
tasks.xml
*.iml
lib/
target/
.idea/
/webapp/wt-demo/node_modules/**

