*~
target/**
.project
.classpath
src/.project
src/.classpath
src/main/resources/secrets_*.csv
src/main/resources/*.json
workspace.xml
tasks.xml
*.iml
lib/
target/
.idea/
/webapp/wt-demo/node_modules/**

